{% extends "../layout/base.html" %}

{% block title %}Quantum | Clients{% endblock %}

{% block docpluginstyle %}
{% endblock %}

{% block docstyle %}
{% endblock %}

{% block pagetitle %}Client Form{% endblock %}

<!-- Start Body -->
{% block content %}
<!-- Start Body -->
                    <!-- Start::Section -->
                    <div class="m-portlet  m-portlet--unair">
							<div class="m-portlet__body  m-portlet__body--no-padding">
								<div class="row m-row--no-padding m-row--col-separator-xl">

									<div class="col-md-12 col-lg-12 col-xl-12">
                                        <!--begin::Portlet-->
								<div class="m-portlet m-portlet--tab">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="m-portlet__head-text">
													Client Details
												</h3>
											</div>
										</div>
									</div>

									<!--begin::Form-->
									<form class="m-form m-form--fit m-form--label-align-right">
										<div class="m-portlet__body">
											<div class="form-group m-form__group">
												<label for="exampleInputEmail1">Full Name</label>
												<input type="text" class="form-control m-input m-input--square" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">
											</div>
											<div class="form-group m-form__group">
												<label for="exampleInputPassword1">Age</label>
												<input type="text" class="form-control m-input m-input--square" id="exampleInputPassword1" placeholder="Password">
											</div>
											<div class="form-group m-form__group">
												<label for="exampleSelect1">Gender</label>
												<select class="form-control m-input m-input--square" id="exampleSelect1">
													<option>Male</option>
													<option>Female</option>
												</select>
											</div>
                                            <div class="form-group m-form__group">
												<label for="exampleInputPassword1">Cognitive</label>
												<input type="text" class="form-control m-input m-input--square" id="cognitive" placeholder="Enter Cognitive">
											</div>
                                            <div class="form-group m-form__group">
												<label for="exampleInputPassword1">Social</label>
												<input type="text" class="form-control m-input m-input--square" id="social" placeholder="Enter Social">
											</div>
                                            <div class="form-group m-form__group">
												<label for="exampleInputPassword1">Emotional</label>
												<input type="text" class="form-control m-input m-input--square" id="emotional" placeholder="Enter Emotional">
											</div>
                                            <div class="form-group m-form__group">
												<label for="exampleInputPassword1">Spiritual</label>
												<input type="text" class="form-control m-input m-input--square" id="spiritual" placeholder="Enter Spiritual">
											</div>
                                            <div class="form-group m-form__group">
												<label for="exampleInputPassword1">Physical</label>
												<input type="text" class="form-control m-input m-input--square" id="physical" placeholder="Enter Physical">
											</div>
										</div>
										<div class="m-portlet__foot m-portlet__foot--fit">
											<div class="m-form__actions">
												<button type="reset" class="btn btn-success">Submit</button>
												<button type="reset" class="btn btn-danger">Cancel</button>
											</div>
										</div>
									</form>

									<!--end::Form-->
								</div>

								<!--end::Portlet-->
									</div>
								</div>
							</div>
						</div>
                        <!-- End::Section -->


<!-- End Body -->
{% endblock %}
<!-- End Body -->


{% block docpluginscript %}
{% endblock %}

{% block docscript %}
{% endblock %}

{% block docready %}
{% endblock %}